* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.banner {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("images/boardroom.jpg");
  background-size: cover;
  background-position: fixed;
  min-height: 92vh;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar img {
  width: 48px;
  cursor: pointer;
  animation: rotator 60s linear infinite;
}

@keyframes rotator {
  0% { transform: Rotate(0deg); }
  20% { transform: Rotate(60deg); }
  40% { transform: Rotate(120deg); }
  60% { transform: Rotate(180deg); }
  80% { transform: Rotate(240deg); }
  100% { transform: Rotate(300deg); }
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: green;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 1s;
}

.navbar ul li:hover::after {
  width: 100%;
}

footer {
  background-color: #222;
  display: flex;
  width: 100%;
  padding: 16px 4px;
  justify-content: flex-end;
}

.socials {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.socials:hover > span {
  color: green;
}

.socials > img {
  width: 36px;
}

.socials > span {
  color: #fff;
}
